# Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret

# Database
DATABASE_URL=your_database_url

# Clerk Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_key
CLERK_SECRET_KEY=your_clerk_secret

# Discord Integration
DISCORD_CLIENT_ID=your_discord_client_id
DISCORD_CLIENT_SECRET=your_discord_client_secret
DISCORD_BOT_TOKEN=your_discord_bot_token
DISCORD_SERVER_ID=your_discord_server_id
DISCORD_COACHING_CATEGORY_ID=your_discord_category_id
DISCORD_COACHING_CLIENT_ROLE_ID=your_discord_role_id

# ELEVEN LABS API - for AI voice generation
ELEVEN_LABS_API_KEY=
ELEVEN_LABS_VOICE_ID=

# FAL.AI API - for video generation
FAL_API_KEY= 