@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 199 0% 95%;
    --foreground: 199 0% 0%;
    --card: 199 0% 90%;
    --card-foreground: 199 0% 10%;
    --popover: 199 0% 95%;
    --popover-foreground: 199 95% 0%;
    --primary: 199 82.1% 78%;
    --primary-foreground: 0 0% 0%;
    --secondary: 199 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 161 10% 85%;
    --muted-foreground: 199 0% 35%;
    --accent: 161 10% 80%;
    --accent-foreground: 199 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 199 0% 90%;
    --border: 199 20% 50%;
    --input: 199 20% 18%;
    --ring: 199 82.1% 78%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 199 10% 5%;
    --foreground: 199 0% 90%;
    --card: 199 0% 0%;
    --card-foreground: 199 0% 90%;
    --popover: 199 10% 5%;
    --popover-foreground: 199 0% 90%;
    --primary: 199 82.1% 78%;
    --primary-foreground: 0 0% 0%;
    --secondary: 199 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 161 10% 15%;
    --muted-foreground: 199 0% 60%;
    --accent: 161 10% 15%;
    --accent-foreground: 199 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 199 0% 90%;
    --border: 199 20% 18%;
    --input: 199 20% 18%;
    --ring: 199 82.1% 78%;
    --radius: 0.5rem;
  }

  body {
    @apply bg-background text-foreground;
  }
}
.ql-container {
  font-size: 16px !important;

  @apply border-border;
  /* @import "~@uploadthing/react/styles.css"; */
  .leaflet-container {
    z-index: 1 !important; /* Adjust as needed */
  }
}
